body {
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100vh;
    overflow: hidden; /* Evita el desplazamiento de la pantalla */
}
.contenedor {
    width: 275px; /* Ancho del contenedor */
    height: 100%; /* Altura del contenedor */
    position: absolute; /* Posición absoluta para asegurar la visibilidad */
    top: 0px; /* Posición desde la parte superior */
    left: 630px; /* Posición desde la izquierda */
}

.circulo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin-right: 20px; /* Ajusta el margen derecho para separar los círculos */
    margin-bottom: 50px; /* Ajusta el margen inferior para separar los círculos del bottom*/
}

.verde {
    background-color: green;
}

.rojo {
    background-color: red;
}

.amarillo {
    background-color: yellow;
}

.azul {
    background-color: blue;
}
.score-container {
    position: absolute;
    top: 40px;
    right: 40px;
    background-color: rgb(118, 118, 89);
    padding: 30px;
    border-radius: 10px;
}

.score-text {
    font-size: 22px;
    font-weight: bold;
}

.score-value {
    margin-top: 12px;
    width: 90px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
}
#startButton, #pauseButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Verde */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: -350px;
    margin-right: 250px;
    margin-bottom: 400px;


}

#startButton:hover, #pauseButton:hover {
    background-color: #45a049; /* Verde más oscuro */
}

#pauseButton {
    display: none; /* Inicialmente oculto */
}
.nota {
    width: 50px;
    height: 50px;
    background-color: blue; /* Color de fondo de los cuadrados */
    position: absolute; /* Para posicionar los cuadrados dentro del contenedor */
}